body {
  position: relative;
  background-color: navy;
}

.content {
  background-color: white;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}


.add {
  margin: 30px;
}

.text {
  width: 80%;
  padding: 0.7em;
}

.text,
.task {
  border: 1px solid gray;
  border-radius: 3px;
}

.text:focus,
.task:focus {
  outline: none;
}

h1 {
  margin-top: 0;
  font-size: 25px;
}


.lists {
  margin: 30px;
}

.lists table {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.lists table td {
  text-align: center;
}

.task {
  padding: 0.4em;
  width: 90%;
}

.add form {
  position: relative;
}

.create {
  position: absolute;
  right: 0;
  border: 2px solid #f6f;
  color: #f6f;
}

.create:hover {
  background: #f6f;
  color: white;
}

.update {
  border: 2px solid #f99;
  color: #f99;
}

.update:hover {
  background: #f99;
  color: white;
}

.delete {
  border: 2px solid #0fc;
  color: #0fc;
}

.delete:hover {
  background: #0fc;
  color: white;
}

.create,
.update,
.delete {
  background-color: white;
  padding: 0.6em 15px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.2s;
}